.header {
  background-color: $primary-background-color;
  border-bottom: 1px solid #ececec;
  z-index: 100;

  @media screen and (max-width: 767px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 60px;
  }

  &-mail-link,
  &-tel-link {
    color: inherit;
    @media screen and (min-width: 1200px) {
      display: inline-flex;
    }
  }
}

.navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;

  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }

  &-wrapper {
    @media screen and (max-width: 767px) {
      margin-bottom: 60px;
    }
  }
}

.menu-container {
  background-color: $primary-background-color;

  @media screen and (max-width: 767px) {
    display: none;
    &.is-open {
      display: block;
      position: absolute;
      top: calc(100% + 1px);
      left: 0;
      width: 100%;
      padding: 60px 0;
      margin: 0 auto;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
  }
}

.navigation-list,
.contact-list {
  &-item {
    display: block;
    text-align: center;
  }
}

.navigation-list {
  @media screen and (max-width: 767px) {
    &-item:not(:last-child) {
      margin-bottom: 40px;
    }
  }
  @media screen and (min-width: 768px) {
    display: inline-flex;
    &-item:not(:last-child) {
      margin-right: 50px;
    }
  }

  @media screen and (min-width: 1200px) {
    @include centered();
  }
}

.contact-list {
  @media screen and (max-width: 767px) {
    &-item:not(:last-child) {
      margin-bottom: 16px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: block;
    &-item {
      text-align: left;
    }
    &-item:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: 1200px) {
    @include centered();
    &-item:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.navigation-list-link,
.header-mail-link,
.header-tel-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.143;
  }

  &:hover,
  &:focus {
    color: $acent-color;
  }
}

.navigation-list-link {
  display: inline-block;
  color: $title-text-color;

  @media screen and (min-width: 768px) {
    padding: 32px 0px;
  }
  &.current {
    position: relative;
    color: $acent-color;
  }
  &.current::after {
    content: "";
    position: absolute;
    bottom: -12px;
    display: block;
    width: 100%;
    height: 4px;
    background-color: $acent-color;
    border-radius: 2px;

    @media screen and (min-width: 768px) {
      bottom: -1px;
    }
  }
}

.header-mail-link,
.header-tel-link {
  @media screen and (min-width: 1200px) {
    padding: 32px 0px;
  }
}

.contact-list-item {
  color: $primary-text-color;
}
.address-icon {
  display: inline-block;
  margin-right: 10px;
  fill: currentColor;
}
